body {
  background-color: #eaf6f6;
}

hr {
  background-color: white;
  width: 5%;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

.first {
  border-radius: 100%;
}

#heading {
  color:red;
}

/*
  img {

    background-color: red;
  }
*/
